@import "../../style";

.dock-item-container {
  //position: relative;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: visible;

  .dock-item-tooltip {
    margin: 0 0 $space3 0;
  }

  .dock-item {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    .dock-item-icon {
      //height: 100%;

      &:active {
        filter: $filterDarken;
      }
    }
  }

  .dock-item-indicator {
    width: $height15;
    height: $height15;

    border-radius: 100%;
    background-color: $black;
  }
}