@import "../../style";

.dock-container {
  display: flex;
}

.dock-center {
  padding: $space8;
  box-sizing: border-box;
  position: relative;

  display: flex;

  box-shadow: $shadow3;
  @include glassBackground;

  pointer-events: auto;
}