@import "../../style";

.dock-item-container {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .dock-item-tooltip {
    position: absolute;
    top: -$height3;
  }

  .dock-item {
    //padding: $space3;
    //margin: $space7;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    .dock-item-icon {
      height: 100%;

      &:active {
        filter: $filterDarken;
      }
    }
  }

  .dock-item-indicator {
    width: $height15;
    height: $height15;

    border-radius: 100%;
    background-color: $black;
  }
}